<p>update-animal works!</p>

<h3> Update dogs List</h3>
<form (ngSubmit) ="onSubmit()">
    <div class="form-group mb-3" >
      <label>Name of Dog</label>
      <input type="text" class="form-control" id="name" 
      [(ngModel)] = "animals.name" name="name">
    </div>
    <div class="form-group mb-3">
        <label>Age of Dog</label>
        <input type="text" class="form-control" id="age" 
        [(ngModel)] = "animals.age" name="age">
      </div>
      <div class="form-group mb-4">
        <label>breed of Dog</label>
        <input type="text" class="form-control" id="breed" 
        [(ngModel)] = "animals.breed" name="breed">
      </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>